<div class="p-grid">
    <span class="p-col-12"></span>
</div>
<div class="p-grid">
    <div class="p-col-8">
    </div>
<!--    <div class="p-col-4"></div>-->
    <div class="p-col-2">
        <button pButton type="text" (click)="display = true" icon="pi pi-plus" class="p-button-secondary" label="New Recipe"></button>
        <p-dialog header="New Recipe" [(visible)]="display" position="right" [style]="{width: '50vw'}">
            <app-new-recipe (saved)="onSaved($event)" [availableTags]="availableTags" ></app-new-recipe>
        </p-dialog>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-12">
        <div style="text-align: center">
            <h1>Welcome</h1><img src="../../assets/images/mascot.png" alt="penguin mascot" height="300" width="265"/>
            <h3>With what ingredients do you want to cook?</h3>
        </div>
    </div>
</div>
<div class="p-grid">
    <div class="p-col-3"></div>
    <div class="p-col-6">
        <span class="p-fluid">
                <p-multiSelect [options]="availableTags" placeholder="Select your ingredients" [(ngModel)]="selectedTags"
                               optionLabel="name" display="chip" (onChange)="createTags($event)"></p-multiSelect>

                <p-button label="Find a recipe" [routerLink]="['/recipes']" [queryParams]="{tags: tags}" [disabled]="tags.length<1"></p-button>
        </span>
    </div>
</div>


<div class="p-col-2">
    <button pButton type="text" [routerLink]="['/recipes']" icon="pi pi-plus" class="p-button-secondary" label="List All Recipes"></button>
</div>