
<form #newRecipe="ngForm" (submit)="onSubmit()">
    <div class="p-field">
        <div class="p-grid">
          <label for="titleID" class="p-col-2">*Title: </label>
            <div class="p-col">
                <input type="text" id="titleID" pInputText [(ngModel)]="recipe.title" name="title"  [style]="{'width':'100%'}" required/>
            </div>
        </div>
    </div>

    <div class="p-field">
        <div class="p-grid">
          <label for="locationID" class="p-col-2">*Location: </label>
            <div class="p-col">
                <input type="text" id="locationID" pInputText [(ngModel)]="recipe.location" name="location" [style]="{'width':'100%'}"/>
            </div>
        </div>
    </div>

    <div class="p-field">
        <div class="p-grid p-formgrid">
          <label class="p-col-2">*Cooking Time: </label>
            <div class="p-col">
                <p-inputMask mask="99 hr 99 min" placeholder="   hr    min" id="cookTimeID" pInputText
                             [(ngModel)]="recipe.cookTime" name="time" [style]="{'width':'100%'}" required></p-inputMask>
            </div>
        </div>
    </div>

    <div class="p-field">
        <div class="p-grid p-formgrid">
            <label class="p-col-2">*Ingredients: </label>
                <p-chips [(ngModel)]="stringTags" name="stringTags" placeholder="Enter your ingredients separated by a comma"
                         class="p-col-10 p-fluid" separator=","></p-chips>
            <div class="p-col"></div>
        </div>
        <div class="p-grid">
            <span class="p-col-2"></span>
            <span class="ui-danger p-col-10">
                <small>Enter the main ingredients of this recipe </small>
            </span>
            <div class="p-col"></div>
        </div>
    </div>

    <div class="p-field">
        <div class="p-grid p-formgrid">
            <label class="p-col-2"> Notes: </label>
            <div class="p-col">
            <textarea pInputTextarea [(ngModel)]="recipe.notes" name="notes" [style]="{'width':'100%'}"></textarea>
            </div>
        </div>
    </div>
    <small >* Required fields</small>

    <div class="p-grid p-formgrid">
        <div class="p-col-10"></div>
        <p-button type="submit" icon="pi pi-check" label="Save" class="p-col-1"
        [disabled]="!newRecipe.form.valid"></p-button>
        <div class="p-col"></div>
    </div>
</form>