
    <div *ngIf="recipe">
    <p-fieldset [legend]="recipe.title" [style]="{'width':'100%'}">
        <div *ngIf="!edit">

            <div class="p-grid p-jc-start">
                <div class="p-col-8">
                </div>

                <div class="p-col-1">
                    <button pButton icon="pi pi-pencil" class="p-button-primary" (click)="editRecipe()" label="Edit"></button>
                </div>
                <div class="p-col-1"></div>
                <div class="p-col-1">
                    <button pButton icon="pi pi-times" class="p-button-danger" (click)="deleteRecipe(recipe)" label="Delete"></button>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-8">
                    <div class="p-grid p-jc-start">
                        <div class="p-col-3">
                            <h4>Ingredients:  </h4>
                        </div>

                        <div class="p-d-flex p-ai-center">
                            <div *ngFor="let tag of recipe.tags">
                                    <p-chip styleClass="p-mr-2 custom-chip">  {{ tag.tagName | capitalFirstLetter }} </p-chip>
                            </div>
                        </div>
                    </div>

                    <div class="p-grid p-jc-start">
                        <div class="p-col-3">
                            <h4>Cooking time: </h4>
                        </div>

                        <div class="p-col">
                            <p>{{recipe.cookTime}}</p>
                        </div>
                    </div>

                    <div class="p-grid p-jc-start">
                        <div class="p-col-3">
                            <h4>Recipe at </h4>
                        </div>

                        <div class="p-col">
                            <div *ngIf="!location_web" >
                                <p>{{recipe.location}}</p>
                            </div>
                            <div *ngIf="location_web" >
                                <a href="{{recipe.location}}">{{recipe.location}}</a>
                            </div>
                        </div>
                    </div>

                    <div class="p-grid p-jc-start">
                        <div class="p-col-3">
                            <h4>Last made on: </h4>
                        </div>

                        <div class="p-col">
                            <p>{{recipe.dateLastMade ? dateFormat(recipe.dateLastMade) : 'Never'}}</p>
                        </div>
                    </div>

                    <div class="p-grid p-jc-start">
                        <div class="p-col-3">
                            <h4>Notes: </h4>
                        </div>

                        <div class="p-col">
                            <p>{{recipe.notes}}</p>
                        </div>
                    </div>

                    <div class="p-grid">
                        <div class="p-col-6">
                            <h4>Do you want to make this today?</h4>
                        </div>

                        <div class="p-col">
                            <p-confirmPopup></p-confirmPopup>
                            <button pButton icon="pi pi-check" (click)="confirm($event,recipe)" [class]="buttonStyle" [disabled]="made"></button>
                        </div>
                    </div>
                </div>
                <div class="p-col-4">
                    <div class="div-wrapper">
                        <img src="../../../assets/images/cookbookGraphic.gif" width="300" height="302">
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="edit">
            <form #editRecipe="ngForm">
                <div class="p-field">
                    <div class="p-grid p-formgrid">
                        <div class="p-col formControl">
                            <input pInputText type="text" id="titleID" [(ngModel)]="editingRecipe.title" value="{{recipe.title}}"
                                   name="title" [style]="{'width': '100%'}" #title="ngModel" required/>
                            <div *ngIf="title.errors && (title.dirty || title.touched)" style="color: red" class="error">
                                A title is Required
                            </div>
                        </div>
                        <div class="p-col-2 center-content">
                            <p-confirmPopup></p-confirmPopup>
                            <button pButton icon="pi pi-pencil" class="p-button-success" (click)="onSave($event)" label="Save"
                            ></button>
                        </div>
                        <div class="p-col-2 center-content">
                            <button pButton icon="pi pi-times" class="p-button-danger" (click)="onCancel()" label="Cancel"></button>
                        </div>
                    </div>

                </div>

                <div class="p-grid p-formgrid">
                    <div class="p-col-2">
                        <h4>Ingredients: </h4>
                    </div>
                    <div class="p-col">
                            <p-chips styleClass="p-mr-2 custom-chip" separator="," [(ngModel)]="tagStrings"
                                     name="tagStrings" #tags="ngModel">
                            </p-chips>
                        <div *ngIf="tagStrings.length<1" style="color: red" class="error">
                            At least one ingredient is Required
                        </div>
                    </div>
                </div>

                <div class="p-grid p-formgrid">
                    <div class="p-col-2">
                        <h4>Cooking time: </h4>
                    </div>
                    <div class="p-col">
                        <input pInputText type="text" id="cookTimeID" [(ngModel)]="editingRecipe.cookTime"
                               value="{{recipe.cookTime}}" name="cookTime" #cookTime="ngModel" required/>
                        <div *ngIf="cookTime.errors && (cookTime.dirty || cookTime.touched)" style="color: red" class="error">
                            An approximate cook time is Required
                        </div>
                    </div>

                </div>

                <div class="p-grid p-formgrid">
                    <div class="p-col-2">
                        <h4>Last made on: </h4>
                    </div>
                    <div class="p-col">
                        <p>{{editingRecipe.dateLastMade || 'Never'}}</p>
                    </div>
                </div>

                <div class="p-grid p-formgrid">
                    <div class="p-field">
                        <div class="p-col-3">
                            <h4>Notes: </h4>
                        </div>
                        <div class="p-col">
                            <textarea pInputTextarea [(ngModel)]="editingRecipe.notes" name="notes" value="{{editingRecipe.notes}}"
                                      [style]="{'width': '100%'}"></textarea>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </p-fieldset>
</div>