<div class="p-grid">
    <div class="p-col-1">
    </div>
    <div class="p-col-2">
        <button pButton type="text" [routerLink]="['/home']" icon="pi pi-home" class="p-button-secondary" label="Back"></button>
    </div>
    <div class="p-col-2 p-offset-6">
        <button pButton type="text" class="p-button-secondary" (click)="display = true" icon="pi pi-plus" label="New Recipe"></button>
        <p-dialog header="New Recipe" [(visible)]="display" position="right" [style]="{width: '50vw'}">
            <app-new-recipe (saved)="onSaved($event)"></app-new-recipe>
        </p-dialog>
    </div>
</div>

<div class="p-grid p-fluid">
    <div class="p-col-4"></div>
    <div class="p-col-1" class="center-content">
        <label [style]="{'width':'100%'}">Ingredients: </label>
    </div>
    <div class="p-col-4">
        <p-chips id="tags" [(ngModel)]="tags" placeholder="Enter your ingredients separated by a comma"
                 separator="," (onAdd)="onAdd()" (onRemove)="onRemove()" [style]="{'width':'100%'}"></p-chips>
    </div>
    <div class="p-col-3"></div>
</div>

<div class="p-grid">
    <div class="p-col-2">

            <app-list [tags]="tags" [update]="update" (recipe)="selected($event)" ></app-list>
    </div>
    <div class="p-col-1"></div>
    <div class="p-col-7">
        <app-recipe [recipe]="selectedRecipe" (recipeUpdated)="onUpdateList($event)"></app-recipe>
    </div>
    <div class="p-col-2"></div>
</div>
