<div class="grid">
    <div class="col-2">
        <button pButton type="text" [routerLink]="['/home']" icon="pi pi-home" class="p-button-secondary p-fluid" label="Back" ></button>
    </div>
    <div class="col-2 col-offset-8">
        <button pButton type="text" class="p-button-secondary right-align-content" (click)="display = true" icon="pi pi-plus" label="New Recipe"></button>
        <p-dialog header="New Recipe" [(visible)]="display" position="right" [style]="{width: '50vw'}">
            <app-new-recipe (saved)="onSaved($event)" [fullTags]="fullTags"></app-new-recipe>
        </p-dialog>
    </div>
</div>

<div class="grid fluid">
    <div class="col-3"></div>
    <div class="col" style="text-align: center">
        <label [style]="{'width':'100%'}">Ingredients: </label>
    </div>

    <div class="col-3"></div>
</div>
<div class="grid fluid">
    <div class="col-3"></div>
    <div class="col">
        <p-autoComplete [(ngModel)]="tags" [suggestions]="filteredTags" (completeMethod)="search($event)" [multiple]="true"
                        class="p-fluid"></p-autoComplete>
    </div>
    <div class="col-3"></div>
</div>

<div class="p-grid">
    <div class="p-col-2">
            <app-list [tags]="tags" (recipe)="selected($event)" (tagsUpdated)="updateQueryParameters($event)"
            [updateList]="updateList"
            ></app-list>
    </div>
</div>
