
<div class="grid">
    <div class="col">
        <img src="../../../assets/images/mascot.png" alt="penguin mascot" height="100" width="88"/>
    </div>
    <div class="col">
        <h1 class="center-content">Recipes</h1>
        <div *ngIf="recipes">
            <small class="center-content">{{recipes.length}} recipe{{recipes.length==1 ? '' : 's'}} found!</small>
        </div>
    </div>
    <div class="col"></div>
</div>

<div class="grid">
    <div class="col-2">
    <p-dropdown [options]="sortByOptions" [(ngModel)]="sortBy" optionLabel="label" optionValue="value"
                value="Relevance" (onChange)="sortByOption()" class="p-fluid" ></p-dropdown>
    </div>
</div>

<h3 *ngIf="recipes.length<1" class="center-content">
    Sorry, there are no recipes with {{tags.length>1 ? 'these': 'this'}} ingredient{{tags.length>1 ? 's': ''}} :(</h3>
<p-table [value]="recipes"[(selection)]="selectedRecipe"
         [scrollable]="true" dataKey="id">
<!--         (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"-->
<!--&gt;-->


    <ng-template p-template="header">
        <tr>
            <th>  Recipe</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-recipe  let-expanded="expanded" >
        <tr >
            <td><button type="button" pButton pRipple [pRowToggler]="recipe" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                {{recipe.title}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-recipe>
        <tr>
            <td colspan="7">
                <div class="p-3">
                    <app-recipe [recipe]="recipe" (recipeDeleted)="deleteRecipeFromList($event)" (recipeUpdated)="updateRecipeInList($event)"></app-recipe>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

